<app-header />
<main>
  <div id="dashboard">
    <app-dashboard-item
      [imageData]="{ src: 'status.png', alt: 'Simbolo de señal' }"
      title="Estado del servidor"
    >
      <app-server-status />
    </app-dashboard-item>

    <app-dashboard-item
      [imageData]="{ src: 'globe.png', alt: 'icono de globo terraqueo' }"
      title="Trafico"
    >
      <app-traffic />
    </app-dashboard-item>

    <app-dashboard-item
      [imageData]="{
        src: 'list.png',
        alt: 'Imagen de una liusta de elementos'
      }"
      title="Soporte para tickets"
    >
      <app-tickets />
    </app-dashboard-item>
  </div>
</main>
